

$dashboard-primary-color:#37146B;
$white: #FFFFFF;
$success-color: #00B88C;
$light-success-color:#F0FCF9;
$in-progress-color:#F39C12;
$light-in-progress-color:#FEF5E6;
$failed-color:#E91F04;
$light-failed-color:#FEF4F2;
$text-color-light: #595959;
$text-color-normal:#333333;
$seperator-color:#4D1B95;
$nav-background-color:#F8F8F8;
$kaps-primary-button-color:#6E27D5;


