@import "../../../../Common/CssConstantsVariables.scss";

$border-color: #ebebeb;
$info-color: #333333;


.overview-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .sub-heading {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $text-color-light;
    margin: 0px;
  }

  .service-info-wrapper {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid $border-color;
    background: $white;

    .heading-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      .heading {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: $text-color-light;
      }
    }
  }

  .version-wrapper {
    display: flex;
    gap: 130px;
    align-items: center;
    margin-bottom: 32px;

    .info-heading {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: $info-color;
      margin: 0px;
    }

    .current-wrap {
      display: flex;
      flex-direction: column;
      gap: 4px;
      text-align: left;

      .data-wrap {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    .deploy-wrap {
      display: flex;
      flex-direction: column;
      gap: 4px;
      text-align: left;
    }
  }

  .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .metrics-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    .system-metrics-wrap {
    width: 50%;

      border-radius: 8px;
      padding: 24px;
      background: $white;
      border: 1px solid #ebebeb;
      height: 396px;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.06),
        1px 5px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .history-wrap {
      width: 50%;
      border-radius: 8px;
      padding: 24px;
      background: $white;
      border: 1px solid #ebebeb;
      height: 396px;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.06),
        1px 5px 4px -1px rgba(0, 0, 0, 0.06);
      
    }
  }
}
